table {
    width: 100%;
    margin-top: 2%;
    margin-left: .5%;
    margin-left: .5%;
  }
  input{
    width: 100%;
 }

  td{
    align-items: center;
  }
  tr{
    align-items: center;
  }
  #back {
    background-color: purple;
    align-self:right;
  
  }