<mat-card><h1 style="align-self: center">Policy Management System</h1>
    <button mat-raised-button  id ="back" (click)="back()">Back</button>
</mat-card>
<div >
   
      <mat-card >
          <mat-toolbar color="primary">
              Policy Register Customer Page
          </mat-toolbar>
       <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="formGroup" (ngSubmit)="savePolicy()">
        <mat-label>Id</mat-label>   
        <mat-form-field > 
             <input matInput placeholder="Id" formControlName="id" [(ngModel)]="policy.id">
           </mat-form-field>
           <mat-label>Policy Name</mat-label>   
           <mat-form-field >
             <input matInput type="text" placeholder="Policy Name" [(ngModel)]="policy.policyName" formControlName="policyName">
           </mat-form-field>
           <mat-label>Start Date</mat-label>   
           <mat-form-field >
            <input matInput type="date" placeholder="Start Date" [(ngModel)]="policy.startDate" formControlName="startDate">
          </mat-form-field>
          <mat-label>Duration of Years</mat-label>   
          <mat-form-field >
            <input matInput type="number" placeholder="Duration of Years" [(ngModel)]="policy.years" formControlName="years">
          </mat-form-field>
          <mat-label>Company Name</mat-label>   
          <mat-form-field >
            <input matInput type="text" placeholder="Company Name" [(ngModel)]="policy.companyName" formControlName="companyName">
          </mat-form-field>
          <mat-label>Initial Deposit</mat-label>   
          <mat-form-field >
            <input matInput type="number" placeholder="Initial Deposit" [(ngModel)]="policy.initialAmount" formControlName="initialAmount">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Policy Type</mat-label>
            <select matNativeControl required formControlName="policyType" [(ngModel)]="policy.policyType" >
              <option value="Vehicle Insurance">Vehicle Insurance</option>
              <option value="Travel Insurance">Travel Insurance</option>
              <option value="Life Insurance">Life insurance</option>
              <option value="Health Insurance">Health Insurance</option>
              <option value="Retirement  Plans">Child Plans</option>
              <option value="Retirement  Plans">Retirement Plans</option>
            </select>
          </mat-form-field>
          <mat-label>User Type</mat-label>   
          <mat-form-field >
            <input matInput type="text" placeholder="User Type" [(ngModel)]="policy.userType" formControlName="userType">
          </mat-form-field>
          <mat-label>Terms per Year</mat-label>   
          <mat-form-field >
            <input matInput type="number" placeholder="Terms per Year" [(ngModel)]="policy.termsPerYear" formControlName="termsPerYear">
          </mat-form-field>
          <mat-label>Term Amount</mat-label>   
          
          <mat-form-field >
            <input matInput type="number" placeholder="Term Amount" [(ngModel)]="policy.termAmount" formControlName="termAmount">
          </mat-form-field>
          <mat-label>Interest</mat-label>   
          <mat-form-field >
            <input matInput type="number" placeholder="Interest" [(ngModel)]="policy.interest" formControlName="interest">
          </mat-form-field>
   
   
           <button mat-raised-button type="submit">Submit Details</button>
       </form>
      </mat-card>
   </div>
  
